/* HEADER */
.header {
  background-color: $primary-background-color;
  border-bottom: 1px solid #ececec;
}
.header__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* header-navigation */
.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    margin-left: 93px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .site-logo {
    font-size: 26px;
    line-height: 31px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  @media screen and (max-width: 767px) {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.nav__item {
  & + & {
    margin-left: 50px;
  }
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

/* header-contacts */

.contacts__list {
  // display: flex;
  margin-left: auto;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.phone {
  margin-left: 50px;

  &__link {
    // display: flex;
    // align-items: center;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;

    color: $primary-text-color;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    fill: currentColor;
  }
}
.mail {
  // display: flex;
  // flex-direction: row-reverse;
  // align-items: center;

  &__link {
    // display: flex;
    // align-items: center;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;

    color: $primary-text-color;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    fill: currentColor;
  }
}

.nav__link--current {
  position: relative;
  color: $accent-color;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    bottom: -1px;
  }
}

.mail__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
  &:hover {
    stroke: $accent-color;
  }
}

.phone__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
  &:hover {
    stroke: $accent-color;
  }
}

/* END HEADER */
