.header {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid $border-header-color;
  background-color: $primary-white-color;
}
.mobile-container {
  @media (max-width: 767px) {
    height: 60px;
  }
  @media (min-width: 325px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu-container {
  display: none;

  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 48px 40px;
    margin: 0;

    background-color: $primary-white-color;

    z-index: 20;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}
.menu-socials {
  @media (max-width: 767px) {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
.menu-socials__link {
  color: $accent-color;
  text-decoration: none;
}
.menu-socials__item:not(:first-child) {
  margin-left: 20px;
}

.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  padding: 0;

  // &.is-open {
  //   z-index: 30;
  //   .menu-button__open {
  //     display: none;
  //   }
  //   .menu-button__close {
  //     display: block;
  //   }
  //

  @media (min-width: 768px) {
    display: none;
  }
}
.menu-button .menu-button__icon--cross {
  display: none;
}
.menu-button__icons {
  width: 40px;
  height: 40px;
  fill: currentColor;

  &:hover,
  &focus {
    fill: $acent-color;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.nav {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav-list {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  background-color: $primary-white-color;

  z-index: 20;

  @media (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media (min-width: 1200px) {
    margin-left: 93px;
  }
}
.lnav-list__item {
  @media (max-width: 767px) {
    margin-bottom: 32px;
  }
  @media (min-width: 768px) {
    &:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.nav-list__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: $primary-text-color;

  font-size: 40px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  transition: color 250ms $animation-time;

  &:hover,
  &:focus {
    color: $acent-color;
  }

  @media (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
  }
}

.contacts-list {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contacts-list__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.16;
  color: $secondary-text-color;
  text-decoration: none;

  transition: color 250ms $animation-time;

  &:hover,
  &:focus {
    color: $acent-color;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }

  @media (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.lcontacts-list__link--phone {
  @media (max-width: 767px) {
    font-size: 34px;
    line-height: 1.17;
  }
}

.nav-list__link--current {
  color: $acent-color;
  &::after {
    @media (min-width: 768px) {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      margin: -1px;
      left: 0;
      bottom: 0;

      background-color: $acent-color;
      border-radius: 2px;
    }
  }
}

.contacts-list__icon--mail {
  display: none;
  @media (min-width: 768px) {
    display: block;
    width: 16px;
    height: 12px;
    margin-right: 10px;

    fill: currentColor;
    cursor: pointer;
  }
}

.contacts-list__icon--phone {
  display: none;
  @media (min-width: 768px) {
    display: block;
    width: 10px;
    height: 16px;
    margin-right: 10px;

    fill: currentColor;
    cursor: pointer;
  }
}

.contacts-list__item {
  @media (max-width: 767px) {
    margin-bottom: 32px;
    margin-left: 0;
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media (min-width: 1200px) {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}
